
<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string><![CDATA[http://src.pre.im/d/app/b63e47872992ec84b4bad327cade7565.ipa?attname=Mr.%E8%9C%98%E8%9B%9B%E4%BE%A0_6.3.5_6.3.5.16.ipa&e=1456817648&token=P5K94dNUBXfJfRKYKfpy2BSQQhtUI-wlVxZwzAti:g7v98rF5uEDTxk8ZyxbEPzWUcSk=]]></string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                                        <string>com.tencent.weixin.6.3.5.19</string><key>bundle-version</key>
                    <string>6.3.5</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>Mr.蜘蛛侠</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
